.container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.container h1{
    margin-top: 80px;
    margin-bottom: 24px;
}

.container ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    list-style: none;
}

.container ul li{
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.container ul li button{
    position: absolute;
    right: 24px;
    top: 24px;
    border: o;
}

.container ul li button:hover{
    opacity: 0.8;
}

.container ul li strong{
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.container ul li p + strong{
    margin-top: 32px;
}

.container ul li p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}